@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Gamja+Flower&display=swap');
*{
    margin: 0;
    padding: 0;
}
h1{
    color: rgb(9, 225, 34);
    font-size: 50px;
    font-weight: lighter;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: overline;  
    text-align: center;
    font-family: "Afacad Flux", sans-serif;
}
#heading-parent{
    /* background-color: rgb(30, 15, 9); */
    /* background-image: linear-gradient(35deg, black, rgb(255, 79, 255) ); */
    background-image: linear-gradient(25deg,#de14c7,transparent), 
    url("/images/hero.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    max-width: 1100px;
    padding: 40px 0;
    margin: 30px auto;
    clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 79%, 58% 79%, 88% 89%, 9% 89%, 40% 79%, 0 79%);
    /* clip-path: polygon(0 0, 50% 100%, 100% 0); */
    /* clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 79%, 58% 79%, 100% 100%, 0 100%, 40% 79%, 0 79%); */
}
.btn{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: rgb(16, 136, 5);
    padding: 7px 20px;
    border: 2px solid rgb(210, 255, 85);
    border-radius: 10px;
    font-family: "Gamja Flower", sans-serif;
    transition: all 1s;
}
.btn-parent{
    text-align: center;
    margin-top: 300px;
}
.btn:hover{
    background-color: #de14c7;
}